@model IEnumerable<VidlyWithLIEN.Models.Customer>

@{
	ViewBag.Title = "Customers";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@Html.ActionLink("New Customer", "New", "Customer")

<table id="customers" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Customer Name</th>
			<th>MemberShip Type</th>
			<th>Discount Rate</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var customer in Model)
		{
			using (Html.BeginForm("Delete", "Customer", new { id = customer.Id }))
			{
		<tr>
			<td>
				@Html.ActionLink(customer.Name, "Edit", new { id = customer.Id }, null)
			</td>
			<td>@customer.MemberShipType.Name</td>
			<td>@customer.MemberShipType.DiscountRate %</td>
			<td><input type="submit" value="Delete" class="btn btn-success" onclick="return confirm('Are you sure do you want to delet the record?')" /></td>
		</tr>
			}
			
		}
	</tbody>
</table>
